body {
  background-color: #eee;
}

#first-name,
#last-name,
#date {
  width: 60%;
}

#panel {
  padding-top: 5%;
}

#pic-file {
  width: 100%;
}

#add-icon {
  padding-top: 35%;
  padding-left: 30%;
}

h3,
#dateAlign {
  text-align: center;
}

#panel-main {
  margin-top: 2%;
}

#panel-client {
  margin-top: 4%;
}
